1. What are Data Structures and Why Important?

Data structures are ways to store and organize data in a program.
They help us store, search, update, and manage data easily.
Example:List → for storing a list of names
Dictionary → for storing key-value pairs like {name: "Sakshi"}

2. Explain the difference between mutable and immutable data types with examples

   Mutable You can change the data after creating it.
   Immutable You cannot change it once created.
   Example - list1 = [1, 2, 3]    Mutable, list1[0] = 10        Changed
            tuple1 = (1, 2, 3)   Immutable,tuple1[0] = 10       Error Appears

3. What are the main differences between lists and tuples in Python3

4.Describe how dictionaries store data
Dictionaries store data in key-value pairs using a hash table behind the scenes.
Example:
student = {'name': 'Sakshi', 'age': 20}

5. Why might you use a set instead of a list in Python?

 -To remove duplicates automatically.
 -For fast membership testing (in keyword).
 -Unordered collection of unique elements.

 ex- s = set([1, 2, 2, 3])  # {1, 2, 3}

6. What is a string in Python, and how is it different from a list

A string is an immutable sequence of characters: "hello"

A list is a mutable sequence of items: ["h", "e", "l", "l", "o"]

Strings can’t be modified; lists can.

7.How do tuples ensure data integrity in Python
  
  Tuples are immutable, their content cannot be changed after creation, making them useful for:Secure data,Dictionary keys,Fixed configurations

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table maps keys to values using a hash function.Dictionaries in Python are implemented using hash tables to allow Fast lookup,Insertion and deletion in average O(1) time

9.Can lists contain different data types in Python?

Yes. Python lists are heterogeneous they can contain different types in python
Example-l = [1, "hello", 3.14, True]

10.  Explain why strings are immutable in Python

Strings are immutable because it allows safe sharing between parts of a program.
Makes them hashable for use as dictionary keys and reduces bugs and improves performance.

11. What advantages do dictionaries offer over lists for certain tasks?

 The advantage over list that they are :
 Fast lookup by key
 Semantic meaning via key-value pairs
 Better for structured data
 Example -  
 Dictionary -user = {'name': 'Sakshi', 'age': 20}
 List - user = ['Sakshi', 20]

 13.How do sets handle duplicate values in Python?

Sets ignore duplicates:
Example - s = set([1, 2, 2, 3])  # Result: {1, 2, 3}

14 . How does the “in” keyword work differently for lists and dictionaries?

List: Checks if item is in values.
Dict: Checks if item is a key.
2 in [1, 2, 3]         True
'name' in {'name': 'Sakshi'}   True
'Sakshi' in dict      False (not a key)

15 . Can you modify the elements of a tuple? Explain why or why not

No, tuples are immutable, so you can not change their contents:
t = (1, 2)
t[0] = 5  # Error

16.  What is a Nested Dictionary ,and give an example of its use case ?

A nested dictionary means a dictionary inside another dictionary.
It helps when you want to store detailed data for each item
Example -
students = {
    "121": {"name": "Sakshi", "age": 20}
}

17. Describe the time complexity of accessing elements in a dictionary ?

When you get a value using a key in a dictionary, it is very fast.
This speed is because of a system called hashing.
Dictionaries are faster than lists when searching using a key.

18. In what situations are lists preferred over dictionaries ?

we use list when data is simple and order matters.
Use dictionary when you want to label your data with keys.
Use a list when:
Only need to store values in order
Don't need key names
Just want to loop through items

19. Why Are Dictionaries Called Unordered?

 In Python 3.6 When we added items to a dictionary, Python didn’t remember the order.Example: If you added name first and age second, it might show age first and name second.

 In Python 3.7 onwards:
 Python remembers the order in which you added items.
 So now, dictionaries keep the order, but they are still not sorted automatically.

20. hy are dictionaries considered unordered, and how does that affect data retrieval?

 Main Difference:
In a list, we get data by index number position
In a dictionary, we get data by key name

In [1]:
#1.Write a code to create a string with your name and print it?

my_name = "Sakshi Singh"
print("My name is:", my_name)

My name is: Sakshi Singh

In [2]:
#2. Write a code to find the length of the string "Hello World"P?

text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"P?

text = "Python Programming"

sliced_text = text[:3]
print("First 3 characters are:", sliced_text)

First 3 characters are: Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercaseP?

text = "hello"
uppercase_text = text.upper()
print("Uppercase string:", uppercase_text)

Uppercase string: HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"P?
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
my_list = [1, 2, 3, 4]
my_list.append(10)
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 10]

In [9]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print("List after removed 3:", my_list)

List after removed 3: [1, 2, 4, 5]

In [10]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element :", second_element)

Second element : b

In [11]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [12]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second tolast element:", second_last)

Second tolast element: blue

In [15]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [17]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print("Index of cat:", index_cat)

Index of cat: 1

In [19]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
fruits = ('apple', 'banana', 'kiwi')
is_kiwi_present = 'kiwi' in fruits
print("Is kiwi in fruits?:", is_kiwi_present)

Is kiwi in fruits?: True

In [20]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

In [22]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after cleared:", my_set)

Set after cleared: set()

In [23]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [24]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [25]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [27]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Sakshi", "age": 20, "city": "SPN"}
print("Dictionary:", person)

Dictionary: {'name': 'Sakshi', 'age': 20, 'city': 'SPN'}

In [28]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
erson = {'name': 'Alice', 'age': 30}
print("Value of 'name':", person["name"])

Value of 'name': John

In [30]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print("Dictionary after removing 'age':", person)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [32]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("Is city a key?", "city" in person)

Is city a key? True

In [33]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'x': 10, 'y': 20}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'x': 10, 'y': 20}

In [34]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [1, 59, 66, 84, 97]

In [35]:
#28.  Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print("Element at index 3:", words[3])

Element at index 3: date

In [36]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}